body {
    background-color: rgb(170, 59, 59);
    text-align: center;
}

p {
    color: black;
}
nav a {
    margin-top: 5px;
     padding: 2px;
     font-size: 20px;
     text-decoration: none;
     color:rgba(212, 12, 12, 0.986)
 }
 h1 {
     color: rgb(9, 15, 15);
 }
.Mastriani {
    font-style: italic;
}

.escudo {
    width: 25%;
}